
/* Nav Styles */
.redLogo {
    width: 30px;
    margin-bottom: -5px;
    padding-right: 10px;
}

.homeLink span {
    font-weight: 600;
    font-size: 18px;
}

.homeLink:hover {
    opacity: .5;
}

.customerSearchWrapper fieldset{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.customerSearchWrapper Button {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

